@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic:wght@400;700&display=swap');

@theme {
  --color-primary: #006600;
  --color-secondary-gold: #D4AF37;
  --color-background-light: #f5f8f5;
  --color-background-dark: #0f230f;
  --font-display: 'Manrope', sans-serif;
  --font-urdu: 'Noto Naskh Arabic', serif;
}

body {
  font-family: var(--font-display);
}

.font-urdu {
  font-family: var(--font-urdu), 'Manrope', sans-serif;
}

.material-symbols-outlined { 
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24; 
}
